<!DOCTYPE html>
<html>
  <head>
    <title>Control Mode - Rover {{ rover_id }}</title>
    <style>
      div {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 21px;
      }
    </style>
  </head>
  <body>
    <h1>Rover {{ rover_id }}</h1>
    <div id="frame">
      <img src="{{ fc_frame_image }}" id="frame-img" width="80%"/>
    </div>
    <p>Time left: <span id="timer">{{ time_left }}</span> seconds</p>
    {% if previous_command == "stop" %}
    <p>Rover stopped. Choose your next control mode.</p>
    {% else %}
    <p>Choose your control mode</p>
    {% endif %}
    <div id="controls">
      <form action="/v1/rover/{{ rover_id }}/control/fb" method="POST">
        <input type="submit" value="Move" />
      </form>
      <form action="/v1/rover/{{ rover_id }}/control/lr" method="POST">
        <input type="submit" value="Turn" />
      </form>
      <form action="/v1/rover/{{ rover_id }}/move/stop" method="POST">
        <input type="submit" value="Switch" />
      </form>
      <input type="submit" id="pic" value="Pic" />
    </div>
    <div>
      <a href="{{ end_url }}">Exit</a>
    </div>
  </body>
  <script>
    var pic = document.getElementById("frame-img");
    document.getElementById("pic").onclick = function () {
      window
        .fetch("/v1/rover/{{ rover_id }}/pic", {method: "POST"})
          .then((res) => res.json())
          .then((body) => {
              pic.src = body.fc_frame_image;
          });
    };
    window.onload = function() {
      var sec = {{ time_left }};

      var _timer = setInterval(function() {
          document.getElementById("timer").innerHTML = "" + sec;
          sec--;
      }, 1000);

      setTimeout(function() {
        clearInterval(_timer);
        if (confirm("Your session is over. Go back to rover selection?")) {
          window.location.href = "{{ end_url }}";
        }
      }, (sec + 2) * 1000);
    };
  </script>
</html>
