<!DOCTYPE html>
<html>
  <head>
    <title>Select a Rover</title>
    <style>
      div#forms {
        display: flex;
        width: 100%;
        justify-content: center;
      }
      form {
        margin: 23px;
      }
    </style>
  </head>
  <body>
    <h1>Select Your Rover</h1>
    <div id="forms">
      <form action="/v1/select_rover/A" method="POST">
        <input type="submit" value="Rover A {% if rover_a_available %}(Available){% else %}(Busy){% endif %}" {% if not rover_a_available %}disabled{% endif %} />
      </form>
      <form action="/v1/select_rover/B" method="POST">
        <input type="submit" value="Rover B {% if rover_b_available %}(Available){% else %}(Busy){% endif %}" {% if not rover_b_available %}disabled{% endif %} />
      </form>
    </div>
    <img src="/static/tumbllerImage.jpg" width="100%"/>
  </body>
  <script type="module">
    import { sdk } from 'https://esm.sh/@farcaster/frame-sdk'
    await sdk.actions.ready();
    if (typeof sdk.context == "CastEmbedLocationContext" && sdk.context.type == "cast_embed") {
      Array.from(document.getElementsByTagName("form")).forEach((form) => {
        form.onsubmit = function() {
          var input = document.createElement("input");
          input.type = "hidden";
          input.name = "fid";
          input.value = sdk.context.cast.fid;
          form.appendChild(input);
        };
      });
    }
  </script>
</html>
