<!DOCTYPE html>
<html>
  <head>
    <title>Rover Busy</title>
    <meta name="fc:frame:button:2" content="⏱ {{ time_left }}s" />
  </head>
  <body>
    <h1>Rover {{ rover_id }} is currently busy</h1>
    <p>Please try again in <span id="timer">{{ time_left }}</span> seconds</p>
    <a href="/v1">Return to Selection</a>
  </body>
  <script>
    window.onload = function() {
      var sec = {{ time_left }};

      var _timer = setInterval(function() {
          document.getElementById("timer").innerHTML = "" + sec;
          sec--;
      }, 1000);

      setTimeout(function() {
        clearInterval(_timer);
        window.location.href = "/v1";
      }, (sec + 2) * 1000);
    }
  </script>
</html>
